@model YourSpot.Models.PhotoDetailsViewModel


@section Style {
    <link rel="stylesheet" href="~/css/Details.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

}

<div class="Fav" style="width: fit-content;">
    <a asp-action="HandelFav_Photo" asp-controller="Transactions" asp-route-id="@Model.Photo.Id" asp-route-type="Photogeapher">
        <button class="Favourit">
            <svg aria-hidden="true" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z"
                      stroke-linejoin="round" stroke-linecap="round"></path>
            </svg>
            Add Favourit
        </button>
    </a>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" style="margin-top:10px; position:relative;left: -222px;">
            @TempData["SuccessMessage"]
        </div>
    }
</div>

<section class="section slider-section">
    <div class="container slider-column">
        <div class="swiper swiper-slider">
            <div class="swiper-wrapper" style="height:400px;">
                @foreach(var item in Model.images){
                <div class="swiper-slide">
                        <img src="@(string.IsNullOrEmpty(item.ImageUrl) ? "/images/default-Photogeapher.jpg" : item.ImageUrl)"
                             alt="Photogeapher Image" class="swiper-slide-image">
                </div>
                }
            </div>
            <span class="swiper-pagination"></span>
            <span class="swiper-button-prev"></span>
            <span class="swiper-button-next"></span>
        </div>
    </div>
</section>

<div class="btn-Request" style="width: fit-content;">
    <a asp-action="Payform_Photo" asp-controller="Transactions" asp-route-id="@Model.Photo.Id" ><button class="button_1">Request pricing</button></a>
</div>

<div class="container_1">
    <h1>@Model.Photo.Name</h1>
    <p><strong>Email: <span style="color:#5bc1ac">@Model.Photo.Email</span></strong></p>
    <div class="info-cards">
        <div class="card">
            <span>💰</span>
            <p><br><strong>$@Model.Photo.Price min spend</strong></p>
        </div>
      
        <div class="card">
            <span><img src="@Url.Content("~/images/Star Filled.png")" alt="Rating" class="mrg-left"></span>
            <p><strong>8.9</strong></p>
        </div>
        <div class="card">
            <span><i class="fa-solid fa-phone"></i></span>
            <p style="margin-top: 33px;"><strong>@Model.Photo.Phone</strong></p>

        </div>
    </div>
   
</div>



<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
        window.onload = function () {

        const swiper = new Swiper(".swiper-slider", {
            centeredSlides: true,
            slidesPerView: 1,
            grabCursor: true,
            freeMode: false,
            loop: true,
            mousewheel: false,
            keyboard: {
                enabled: true
            },
            autoplay: {
                delay: 3000,
                disableOnInteraction: false
            },
            pagination: {
                el: ".swiper-pagination",
                dynamicBullets: false,
                clickable: true
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev"
            },
            breakpoints: {
                640: {
                    slidesPerView: 1.25,
                    spaceBetween: 20
                },
                1024: {
                    slidesPerView: 2,
                    spaceBetween: 20
                }
            }
        });

        

    };



</script>
