@model IEnumerable<YourSpot.Models.BookingViewModel>



@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<div class="tab-pane" id="billing" style="margin-left: 130px; margin-top: 120px;margin-right: 50px">

	<hr>
	<h6 class="Title_Table">Manage Requests</h6>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Email</th>
				<th scope="col">Phone</th>
				<th scope="col">Date</th>
				<th scope="col">Start Time</th>
				<th scope="col">End Date</th>
				<th scope="col">Description</th>
				<th scope="col">Status</th>
				<th scope="col" colspan="2"></th>
			</tr>
		</thead>
		<tbody>

			@{
				int counter_R = 1;
			}
			@foreach (var item in Model)
			{


				<tr>
					<th scope="row">@counter_R</th>
					<td>@item.Name</td>
					<td>@item.Email</td>
					<td>@item.Phone</td>
					<td>@item.BookingDate</td>
					@if (item.StartTime == null || item.StartTime == null){
						<td>N/A</td>
						<td>N/A</td>
					}else{
						<td>@item.StartTime</td>
						<td>@item.EndTime</td>
					}
					
					<td>@item.Message</td>
					
					@if (item.Status == "Pending")
					{
						<td style="color:burlywood;font-weight:bold">@item.Status</td>
						
					}
					else if (item.Status == "Approved")
					{
						<td style="color:#5bc1ac;font-weight:bold">@item.Status</td>
					}
					else if (item.Status == "Completed")
					{
						<td style="color:forestgreen;font-weight:bold">@item.Status</td>
					}
					else
					{
						<td style="color:red;font-weight:bold">@item.Status</td>
					}

					@if (item.Status == "Pending")
					{
						<td><a asp-action="AcceptRequest" asp-controller="Home" asp-route-id="@item.BookingId" class="btn btn-success">Confirm</a></td>
						<td><a asp-action="CancelRequest" asp-controller="Home" asp-route-id="@item.BookingId" class="btn btn-danger">Cancel</a></td>
					}
				</tr>

				counter_R++;




			}


		</tbody>
	</table>
